---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "404";
---

<BaseLayout pageTitle={pageTitle}>
  <p>404</p>
  <p>página não encontrada</p>
  <p>:(</p>
</BaseLayout>
