---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Gustavo Araújo Costa</h2>
  <p>psicólogo e programador</p>
  <p>psicanalista aderente de APOLa</p>

  <ul>
    <li>Instagram</li>
    <li>Blog</li>
    <ul><li>Texto</li></ul>
    <li>Github</li>
    <ul><li>WEAV</li></ul>
    <li>Itch</li>
    <ul><li>LTLTL</li></ul>
    <li>Mastodon</li>
  </ul>
</BaseLayout>
