---
import "../styles/global.css";
import Item from "../components/Item.astro";
import ControlPanel from "../components/ControlPanel.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const seed: number[] = [0, 1, 0, 1]; // TODO
const pageTitle = "Rep";
---

<BaseLayout pageTitle={pageTitle}>
  <ControlPanel />

  <div class="one">
    {seed.map((item) => <Item value={item} />)}
  </div>
  <script>
    import "../scripts/one.js";
  </script>
</BaseLayout>
