---
import Social from "./Social.astro";
---

<footer>
  <p>
    Sim Rep Viz by Gustavo Costa (<a href={"https://github.com/noah-art3mis"}
      >noah-art3mis</a
    >)
  </p>
  <div class="container">
    <Social
      src="../../public/instagram.svg"
      alt="instagram"
      link="https://www.instagram.com/simulacro.psi/"
    />
    <Social
      src="../../public/site.svg"
      alt="website"
      link="https://gustavocosta.psc.br/"
    />
    <Social
      src="../../public/github.svg"
      alt="github"
      link="https://github.com/noah-art3mis"
    />
    <Social
      src="../../public/itch.svg"
      alt="itch"
      link="https://noah-art3mis.itch.io/"
    />
    <Social
      src="../../public/mastodon.svg"
      alt="mastodon"
      link="https://mastodon.gamedev.place/@noah_artemis"
    />
  </div>
</footer>

<style>
  footer {
    margin-top: 2rem;
  }

  .container {
    display: flex;
  }
</style>
