---
const { value } = Astro.props;
---

<div class="item">
  <p>{value ? "+" : "-"}</p>
</div>

<style>
  .item {
    background-color: transparent;
    border: 1px solid #fffff8;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
</style>
