---

---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/rep/">Rep</a>
  <a href="/tags/">Tags</a>
</div>

<style>
  nav {
    display: flex;
    gap: 1rem;
  }
</style>
